h1{
    font-size: 38px;
    margin: 0;
}
h2{
    font-size: 30px;
}
h3{
    margin: 20px 0 15px;
    font-size: 20px;
    text-align: center;
    color: #7a00ed;
}
.review-all-btn{
    width: 150px;
}
.btn-outline{
    color: #7a00ed;
    border-color: #7a00ed;
}
.btn-outline:hover {
    color: #fff;
    background-color: #7a00ed;
    border-color: #7a00ed;
}